* {
    padding: 0em;
    margin: 0em;
}

html, body {
    font-family: Verdana, Helvetica, sans-serif;
    max-width: 1024px;
    background-color: white;
    margin: auto;
}

body {
    font-size: 0.8em;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
}

a:link {
    color: #000099;
    text-decoration: none;
}

a:visited {
    color: #A0A;
}

a:hover {
    color: #A0A;
    text-decoration: underline;
}

#skipLink {
    display: none;
}

#logo {
    display: block;
    float: left;
    width: 5em;
    height: 5em;
    margin: 1em;
    padding: 1em;
}

#header ul {
    float: right;
    list-style-type: none;
    margin: 1em 1em 0 0;
}

#header li {
    background-color: #2E5894;
    float: right;
    margin: 1em;
}

#header {
    background-color: #F8F8FF;
    height: 10em;
}

#header h1 {
    float: left;
    width: 50%;
    margin-top: 1em;
}

#nav {
    clear: both;
    background-color: #2E5894;
    color: white;
    width: 100%;
    height: 2.23em;
}

#nav ul {
    float: left;
    list-style-type: none;
}

#nav li {
    float: left;
}

#nav ul li, #header ul li {
    display: block;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
}

#nav li:hover, #header li:hover {
    background-color: #3A6FBA;
    color: white;
}

#nav a, #header a {
    color: white;
}

#navAreaMedica {
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#navAreaMedica ul {
    display: none;
    position: absolute;
    background-color: #3A6FBA;
    z-index: 1;
    margin-top: 0.5em;
    margin-left: -0.5em;
}

#navAreaMedica ul li {
    color: white;
    text-decoration: none;
    display: block;
    min-width: 10em;
}

#navAreaMedica ul li:hover {
    background-color: #2E5894
}

#navAreaMedica:hover ul {
    display: block;
}

#breadcrumbs {
    clear: left;
    width: 100% - 0.3em;
    background-color: #F8F8FF;
    margin-bottom: 1.5em;
    padding: 0.3em 0 0.3em 0.3em;
}

#main{
    background-color: #F8F8FF;
}

#footer {
    margin-top: 2em;
    background-color: #2E5894;
    color: white;
    text-align: center;
    padding: 0.3em;
}

