/*      CSS PRINT       */

#pulsanteMenuUser, #pulsanteMenuNav {
    display: none;
}

html, body {
   font-family: "Times New Roman", Times, serif;
   font-size:12pt;
}



h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
}


#skipLink {
    display: none;
}

a:link:after, a:visited:after {
content: " [" attr(href) "] ";
font-size:90%;
}


a:link{
    color: #5e5e64;
}


#logo{
    display:none;
}

img{
    display: none;
}


p {
    word-spacing: 2.5px;
    line-height: 22px;
}


#header ul {
    display:none;
}


#nav{
display:none;
}


.colonna1 {
    width: 100%;
}

.colonna2{
  width: 100%;
}


#footer {
  display:none;
}




form input[type=text], form input[type=password], form input[type=submit], form select, form textarea, form button {
    border: 1px solid #ccc;
    color: black;

}



form fieldset {
    border: 0;
}


form input[type="radio"] {
    color: black;

}

form input[type="radio"][name="orario"]+label {
color: black;
}

form input[type="radio"][name="orario"][disabled="disabled"]+label {
  color: black;
}


form input[type="radio"][name="orario"]:checked+label {
  color: black;
}



#chat {
    margin: 1em;
}

#chat form {
    border-top: 1px solid;

}

.messaggioUtente, .messaggioDottore {
    border: 1px solid #cbcccf;
}


#mappaGoogle {
  display:none;
}


.notizia {
    border-bottom: 1px solid #000;
}

abbr{
  text-decoration: none;
}
